* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
header {
    height: 10vh;
    background-color: #FF9800;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#restaurant__name {
    color: white;
}
.header__menu {
    color: white;
}
li {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}
li:hover {
    color: black;
    cursor: pointer;
}
main {
    display: flex;
    background-color: white;
    height: 75vh;
}
#main__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
img {
    height: 50%;
    width: 100%;
}
#order__menu {
    text-align: center;
    width: 50%;
    padding: 10%;

}
#order {
    border: 0;
    background-color: #FF9800;
    color: white;
    width: 100px;
    height: 40px;
    margin-right: 5px;
}
#order:hover {
    cursor: pointer;
}
#menu {
    border: 1px solid #FF9800;
    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    margin-left: 5px;
}
#menu:hover {
    border: 0;
    background-color: #FF9800;
    color: white;
    width: 100px;
    height: 40px;
    transition: background-color 3s;
    cursor: pointer;
}
.btn {
    margin-top: 30px;
}
.order__menu__heading {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
footer {
    height: 15vh;
    display: flex;
    width: 100%;
}
#phone__number {
    background-image: linear-gradient(to right, #FF9800, #FF7F50);
    width: 25%;
    text-align: center;
    color: white;
}
#location {
    background-image: linear-gradient(to right, #FF9800, #FF7F50);
    width: 25%;
    text-align: center;
    color: white;
    box-shadow: black;
}
#schedule {
    background-image: linear-gradient(to right, #FF9800, #FF7F50);
    width: 25%;
    text-align: center;
    color: white;
}
#social__media {
    background-image: linear-gradient(to right, #FF9800, #FF7F50);
    width: 25%;
    text-align: center;
    color: white;
}
p {
    margin-top: 7%;
}
